
#name{
    padding-top: 160px;
    padding-bottom: 130px;
    text-align: center;
}
.namehead{
    font-size: 58px;
}
.namehead span{
    color: #DB4A90;
}
.topname{
    font-size: 15px !important;
    font-family: "Handlee", cursive;
    margin-top: 10px;
    color: #DB4A90;
}
.icons{
    margin-top: 160px;
}
.icons a{
    margin-left: 10px;
    margin-right: 10px;
    color: #222;
    font-size: 40px;
}

